<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqFTnUZhP5BoG2JeY2fYo2ypFduthqT_VQNQ&usqp=CAU" alt=""
        >
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do IRON MAN</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem magnam quibusdam consequuntur adipisci facilis earum sint dolore minus. Maiores reiciendis quae cumque saepe quasi cupiditate assumenda recusandae provident excepturi nesciunt.
            </a>
            
        </p>
    </div>
</div>
